//@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color_1: #3F92D2;
$color_2: #4B5ED7;
$color_3: #5FD3B3;
$white: #fff;
$black: #000;
$disabled: #ccc;

:root {
 --body-image: linear-gradient(#4B5ED7, #3F92D2, #5FD3B3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// tags
body {
  font-family: 'Roboto', sans-serif;
  background: var(--body-image);
  min-height: 100vh;
}

button {
  cursor: pointer;
  font-size: 1rem;
  padding: .5rem;
  color: $white;
  border-color: $color_3;
  box-shadow: 0 0 40px 40px $color_1 inset, 0 0 0 0 $color_3;
  transition: all 150ms ease-in-out;
}

button:hover {
  color: #fff;
  box-shadow: 0 0 10px 0 $color_2 inset, 0 0 10px 4px $color_3;
  background-color: transparent;
}

button:disabled,
button:disabled:hover {
  background: $disabled;
  cursor: not-allowed;
  box-shadow: none;
}

//start page
.header_sp {
  text-align: center;

  h1 {
    font-size: 3rem;
  }

  p {
    text-align: center;
    font-size: 1.5rem;
  }

  button {
    margin: 3rem 1.5rem;
  }
}

.main_sp {
  text-align: center;
  padding: 1rem;
  margin: 1.3rem;

  .form_sp {
    background: $white;
    width: 25%;
    margin: 0 auto;
    padding: .8rem;
    border-radius: 5px;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);

    .form_in_input {
      display: flex;
      flex-direction: column;
      padding: .5rem;
    }

    label {
      font-size: 1.1rem;
      padding: 0.5rem;
      text-align: left;
    }

    
    input {
      padding: 0.2rem;
      font-size: 1.2rem;
    }

    .sex {
      display: inline-block;
      padding-top: 1.5rem;
    }

    button {
      margin-top: 1.3rem;
    }

    button:hover {
      color: $black;
    }
  }
}

.error_password {
  color: red;
  font-size: .8rem;
  padding-left: 1rem;
}

//main

.header_mp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    font-size: 2rem;
    padding: 1rem;
  }

  .profile {
    padding: 1rem;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;

      li {
        margin: .5rem;
        cursor: pointer;
      }
    }
  }
}

.filter_menu {
  position: fixed;
  background: #0008;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  z-index: 100;
  
}

.profile_setting {
  position: absolute;
  cursor: auto;
  background-color: $white;
  text-align: center;
  width: 25%;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;

  .profile_header_text{
    font-size: 2rem;
    font-weight: bold;
  }

  .form_in_mp {
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.1rem;
      padding: .5rem;
      text-align: left;
    }
    
    input {
      padding: 0.2rem;
      font-size: 1.2rem;
    }
  }

  .sex {
    display: inline-block;
  }

  button {
    margin: 1rem;
  }

  button:hover {
    color: $black;
  }
}

.main_mp {
  position: relative;
  text-align: center;
  .table_block {
    display: flex;
    background: $white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
    height: 25vw;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);

    .table {
      border-radius: 5px;
      margin: 1rem;
      padding: .5rem;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
      width: 200px;
      height: 7vw;
      cursor: pointer;
      background-color: #2cabe6;
      color: #fff;

      .name_table {
      padding: .2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 32px;
        background-color: rgba(0, 0, 0, 0.3);
      }

      .date_create,
      .number_records {
        font-size: .8em;
        padding: .2rem;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.3);
      }

      .create_table_block {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1rem;
      }
    }

    .table:hover {
      transform: scale(1.1);
      transition: transform .2s ease-in-out;
    }
  }

  .filter_table {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 3rem auto;
    text-align: center;
    align-items: center;

    button {
      margin: 1rem;
    }

    .filter_input {
      label {
        padding: 2rem .2rem 2rem 1rem;
        font-weight: 700;
        font-size: 1.3rem;
      }

      span {
        font-weight: 500;
        padding: 0 .5rem;
        font-size: 1.1rem;
      }

      input {
        padding: .6rem .3rem;
        font-size: 1.2rem;
      }
    }
  }

  .filter_tables_text {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .calc_data {
    position: absolute;
    top: 20%;
    left: 1%;
    text-align: center;
  }
}

.filter_create {
  position: fixed;
  background: #0008;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  text-align: center;

  .create_new_table {
    position: absolute;
    cursor: auto;
    background-color: $white;
    width: 40vw;
    margin: 5rem auto;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
    top: 0%;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 100;

    label {
      font-weight: bold;
      font-size: 1.4rem;
      padding: 0 1rem;
    }

    input {
      height: 2rem;
      width: 20rem;
      padding: .2rem;
    }

    button {
      margin-left: .8rem;
    }

    button:hover {
      color: $black;
    }
  }
}

.msg-block {
  position: absolute;
  background-color: $white;
  text-align: center;
  width: 25vw;
  height: 100%;
  padding: .5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  top: 0%;
  transform: translate(-100%, 0%);
  animation: show 1s forwards;
  z-index: 100;
  display: grid;
  grid-template-areas:
  ". close"
  "dialog dialog"
  "input send"
  "ban ban";
  grid-template-rows: .5fr 1fr 1fr;
  align-content: space-between;
  align-items: center;

  @keyframes show {
    0% {transform: translateX(-100%);}
    100% {transform: translateY(0);}
  }

  .close_msg_btn {
    grid-area: close;
    border-radius: 50%;
    margin: 0 0 0 2rem;
    padding: .2rem .5rem;
  }

  .close_msg_btn:hover {
    color: $black;
  }

  .ban_text {
    grid-area: ban;
    color: red;
    font-weight: bold;
  }

  .msg_dialog {
    grid-area: dialog;
    height: 40vw;
    overflow-y: auto;
    margin: 0.3rem;
  }

  textarea {
    grid-area: input;
    width: 100%;
    height: 80%;
    padding: .3rem;
    resize: none;
  }

  .send_msg_btn {
    grid-area: send;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0.7rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }

  .send_msg_btn:hover {
    transform: scale(1.5);
    transition: transform .2s ease-in;
  }

  .msg_text {
    padding: .3rem;
    margin: .2rem 0;
    border-radius: 6px;
    text-align: left;

    hr {
      border-top: 1px dotted rgb(0, 0, 0);
    }
    span {
      font-size: .8em;
      display: block;
      margin: .2rem 0;
      padding: .15rem;
    }

    .from-msg {
      text-align: left;
      background: rgba($color: #807d7d, $alpha: 0.5);
    }

    .to-msg {
      text-align: right;
      background: rgba($color: #80aecc, $alpha: 0.5);
    }
  }


}

.from-msg_color {
  background: rgba($color: #807d7d, $alpha: 0.5);
}

.to-msg_color {
  background: rgba($color: #80aecc, $alpha: 0.5);
}

.showBlock {
display: none;
}

.close {
transform: translate(0%, 0%);
animation: close 1s forwards;
}

@keyframes close {
0% {transform: translateX(0%);}
100% {transform: translateX(-100%);}
}

//table page 

.header_tp {
  margin: 0 0 .5rem 0;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgba(227, 233, 236, 0.7);

  .name_table {
    font-size: 1.4rem;
    margin-bottom: .71rem;
    max-width: 21rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 32px;
  }

  .name_table_input {
    font-size: 1.4rem;
    margin-bottom: .71rem;
    width: 100%;
    height: 32px;
  }

  .logout {
    margin: .5rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  button {
    margin: 0 .5rem;
  }
}

.block_columns {
  display: flex;
  flex-direction: row;
  padding: .5rem;
  overflow-x: auto;
  overflow-y: clip;
  margin: 0 1.2rem;
  min-height: 20vw;
}

.history_overlay {
  position: fixed;
  background: #0008;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  display: block;

  .history_block {
    border-radius: 5px;
    width: 25vw;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: block;
    top: 10%;
    right: 1%;
    z-index: 100;

    .h3_history {
      font-size: 1.8rem;
      text-align: center;
    }

    .history_list {
      height: 64vh;
      overflow-y: auto;
      margin: .2rem;

      p {
        word-wrap: break-word;
        padding: .2rem;

        .date_history,
        .time_history,
        .change {
          color: $color_2;
        }

        .change {
          font-weight: bold;
        }
      }
    }
  }
}

.bg_img_block {
  display: none;
  border-radius: 5px;
  width: 25vw;
  background-color: rgb(226, 226, 226);
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  padding: .5rem;
  position: fixed;
  text-align: center;
  top: 10%;
  left: 0%;
  z-index: 100;

  .h3_bg_img {
    font-size: 1.8rem;
  }

  .input_img {
    padding: .2rem .3rem;
    margin: .5rem auto;
    width: 100%;
  }

  .bg_image_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    margin: .2rem;
    max-height: 64vh;

    .color, .image {
      width: 200px;
      height: 120px;
      background-size: cover;
      border-radius: 10px;
      margin: .4rem;
      cursor: pointer;
    }
  }

  button {
    margin: .5rem;
  }
}

.bg_img_block.active {
  display: inline-block;
}

.column {
  margin: 0 .6rem;
  border-radius: 5px;
  min-width: 13vw;
  max-width: 13vw;
  background-color: $disabled;
  padding: 1rem 0;
  height: 100%;
  position: relative;
  display: inline-block;

  .title_column_span {
    max-height: 5rem;
    word-break: break-all;
    overflow-y: auto;
    cursor: pointer;
  }

  .title_column_input {
    height: 2rem;
  }
  .column_list {
  min-height: 25px;
  max-height: 60vh;
  overflow-y: auto;
  margin: .2rem;

    p {
      margin: .7rem .2rem;
      padding: .2rem;
      border-radius: 7px;
      background-color: $color_3;
      box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
      cursor: move;
      overflow-wrap: break-word;
      display: flex;
      align-items: center;
    }
  }

  .add_record {
    color: white;
    border: none;
    font-size: 1rem;
    background: #6f95ff;
    text-align: center;
    padding: .4rem;
    margin: .5rem 0;
    width: 100%;
    box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    text-transform: lowercase;
  }

  .title_column {
    font-weight: bold;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu_column {
      box-shadow: none;
      background: transparent;
      border: none;
    }

    .menu_column:hover {
      transform: scale(1.4);
      transition: transform .2s ease-in;
    }
  }

  .pop_menu_column {
    width: 270px;
    border-radius: 5px;
    background-color: rgba(179, 179, 179, .9);
    padding: .5rem;
    display: none;
    position: absolute;
    z-index: 1;
    left: 0%;
    overflow-y: auto;

    .header_pop_menu {
      display: flex;
      justify-content: space-between;
      padding: .4rem;
    }

    .list_pop_menu {
      padding: .3rem 0 0 1rem;

      li {
        padding: .3rem;
        display: block;
      }

      li:hover {
        background-color: white;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .input_create {
    width: 100%;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 0;
    opacity: 0;
  }
  
  input[type="checkbox"]+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: .25em;
    margin-right: .5em;
    background-repeat: no-repeat;
    margin-top: .2rem;
  }
  
  input[type="checkbox"]:checked+label::before {
    background-color: $color_3;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    transition: all .2s ease-in;
  }
  
  input[type="checkbox"]:checked~.record {
    text-decoration: line-through;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }
}

textarea {
  resize: vertical;
  width: 100%;
  height: 50px;
}

.about_changes {
  font-size: 1.1rem;
  width: 40%;
  padding: 1rem;
  color: #ccc;
}

//admin page

.msg_admin {
  position: absolute;
  background-color: $white;
  width: 40vw;
  min-height: 40vw;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
  display: grid;
  grid-template-areas:
  "login login"
  "dialog dialog"
  "input  send";
  align-content: space-between;
  align-items: center;
  
  .from-msg {
    text-align: left;
    background: rgba($color: #807d7d, $alpha: 0.5);
  }

  .msg_text {
    padding: .3rem;
    margin: .2rem 0;
    border-radius: 6px;
    text-align: left;
  }

  .msg_login {
    grid-area: login;
    text-align: center;
    margin-bottom: .6rem;
    font-weight: bold;
  }

  hr {
    border-top: 1px dotted rgb(0, 0, 0);
  }

  span {
    font-size: .8em;
    display: block;
    margin: .2rem 0;
    padding: .15rem;
  }

  .to-msg {
    text-align: right;
    background: rgba($color: #80aecc, $alpha: 0.5);
  }
  .msg_dialog {
    grid-area: dialog;
    height: 30vw;
    overflow-y: auto;
    max-height: 30vw;
  }

  textarea {
    grid-area: input;
    width: 100%;
    padding: .3rem;
    resize: none;
  }

  .send_msg_btn {
    grid-area: send;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0.7rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }

  .send_msg_btn:hover {
    transform: scale(1.4);
    transition: transform .2s ease-in;
  }

  .from-user {
    text-align: left;
    padding: 0.2rem;
  }

  .from-admin {
    text-align: right;
    padding: 0.2rem;
  }
}

table{
	border: 1px solid #eee;
  border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
  margin-top: 1rem;
}

table th {
	font-weight: bold;
	padding: 5px;
	background: $disabled;
	border: 1px solid #dddddd;
}

table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: center;
}

tbody:nth-child(odd){
	background: #3F92D2;
}

tbody:nth-child(even){
	background: #66A3D2;
}

