@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --body-image: linear-gradient(#4B5ED7, #3F92D2, #5FD3B3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--body-image);
  min-height: 100vh;
}

button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  color: #fff;
  border-color: #5FD3B3;
  box-shadow: 0 0 40px 40px #3F92D2 inset, 0 0 0 0 #5FD3B3;
  transition: all 150ms ease-in-out;
}

button:hover {
  color: #fff;
  box-shadow: 0 0 10px 0 #4B5ED7 inset, 0 0 10px 4px #5FD3B3;
  background-color: transparent;
}

button:disabled,
button:disabled:hover {
  background: #ccc;
  cursor: not-allowed;
  box-shadow: none;
}

.header_sp {
  text-align: center;
}
.header_sp h1 {
  font-size: 3rem;
}
.header_sp p {
  text-align: center;
  font-size: 1.5rem;
}
.header_sp button {
  margin: 3rem 1.5rem;
}

.main_sp {
  text-align: center;
  padding: 1rem;
  margin: 1.3rem;
}
.main_sp .form_sp {
  background: #fff;
  width: 25%;
  margin: 0 auto;
  padding: 0.8rem;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
}
.main_sp .form_sp .form_in_input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.main_sp .form_sp label {
  font-size: 1.1rem;
  padding: 0.5rem;
  text-align: left;
}
.main_sp .form_sp input {
  padding: 0.2rem;
  font-size: 1.2rem;
}
.main_sp .form_sp .sex {
  display: inline-block;
  padding-top: 1.5rem;
}
.main_sp .form_sp button {
  margin-top: 1.3rem;
}
.main_sp .form_sp button:hover {
  color: #000;
}

.error_password {
  color: red;
  font-size: 0.8rem;
  padding-left: 1rem;
}

.header_mp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_mp p {
  font-size: 2rem;
  padding: 1rem;
}
.header_mp .profile {
  padding: 1rem;
}
.header_mp .profile ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.header_mp .profile ul li {
  margin: 0.5rem;
  cursor: pointer;
}

.filter_menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.5333333333);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  z-index: 100;
}

.profile_setting {
  position: absolute;
  cursor: auto;
  background-color: #fff;
  text-align: center;
  width: 25%;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
}
.profile_setting .profile_header_text {
  font-size: 2rem;
  font-weight: bold;
}
.profile_setting .form_in_mp {
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.profile_setting .form_in_mp label {
  font-size: 1.1rem;
  padding: 0.5rem;
  text-align: left;
}
.profile_setting .form_in_mp input {
  padding: 0.2rem;
  font-size: 1.2rem;
}
.profile_setting .sex {
  display: inline-block;
}
.profile_setting button {
  margin: 1rem;
}
.profile_setting button:hover {
  color: #000;
}

.main_mp {
  position: relative;
  text-align: center;
}
.main_mp .table_block {
  display: flex;
  background: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
  margin: 0 auto;
  height: 25vw;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
}
.main_mp .table_block .table {
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 7vw;
  cursor: pointer;
  background-color: #2cabe6;
  color: #fff;
}
.main_mp .table_block .table .name_table {
  padding: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 32px;
  background-color: rgba(0, 0, 0, 0.3);
}
.main_mp .table_block .table .date_create,
.main_mp .table_block .table .number_records {
  font-size: 0.8em;
  padding: 0.2rem;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
}
.main_mp .table_block .table .create_table_block {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}
.main_mp .table_block .table:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.main_mp .filter_table {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 3rem auto;
  text-align: center;
  align-items: center;
}
.main_mp .filter_table button {
  margin: 1rem;
}
.main_mp .filter_table .filter_input label {
  padding: 2rem 0.2rem 2rem 1rem;
  font-weight: 700;
  font-size: 1.3rem;
}
.main_mp .filter_table .filter_input span {
  font-weight: 500;
  padding: 0 0.5rem;
  font-size: 1.1rem;
}
.main_mp .filter_table .filter_input input {
  padding: 0.6rem 0.3rem;
  font-size: 1.2rem;
}
.main_mp .filter_tables_text {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.main_mp .calc_data {
  position: absolute;
  top: 20%;
  left: 1%;
  text-align: center;
}

.filter_create {
  position: fixed;
  background: rgba(0, 0, 0, 0.5333333333);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  text-align: center;
}
.filter_create .create_new_table {
  position: absolute;
  cursor: auto;
  background-color: #fff;
  width: 40vw;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  top: 0%;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 100;
}
.filter_create .create_new_table label {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0 1rem;
}
.filter_create .create_new_table input {
  height: 2rem;
  width: 20rem;
  padding: 0.2rem;
}
.filter_create .create_new_table button {
  margin-left: 0.8rem;
}
.filter_create .create_new_table button:hover {
  color: #000;
}

.msg-block {
  position: absolute;
  background-color: #fff;
  text-align: center;
  width: 25vw;
  height: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  top: 0%;
  transform: translate(-100%, 0%);
  -webkit-animation: show 1s forwards;
          animation: show 1s forwards;
  z-index: 100;
  display: grid;
  grid-template-areas: ". close" "dialog dialog" "input send" "ban ban";
  grid-template-rows: 0.5fr 1fr 1fr;
  align-content: space-between;
  align-items: center;
}
@-webkit-keyframes show {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes show {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.msg-block .close_msg_btn {
  grid-area: close;
  border-radius: 50%;
  margin: 0 0 0 2rem;
  padding: 0.2rem 0.5rem;
}
.msg-block .close_msg_btn:hover {
  color: #000;
}
.msg-block .ban_text {
  grid-area: ban;
  color: red;
  font-weight: bold;
}
.msg-block .msg_dialog {
  grid-area: dialog;
  height: 40vw;
  overflow-y: auto;
  margin: 0.3rem;
}
.msg-block textarea {
  grid-area: input;
  width: 100%;
  height: 80%;
  padding: 0.3rem;
  resize: none;
}
.msg-block .send_msg_btn {
  grid-area: send;
  background: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 0.7rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.msg-block .send_msg_btn:hover {
  transform: scale(1.5);
  transition: transform 0.2s ease-in;
}
.msg-block .msg_text {
  padding: 0.3rem;
  margin: 0.2rem 0;
  border-radius: 6px;
  text-align: left;
}
.msg-block .msg_text hr {
  border-top: 1px dotted rgb(0, 0, 0);
}
.msg-block .msg_text span {
  font-size: 0.8em;
  display: block;
  margin: 0.2rem 0;
  padding: 0.15rem;
}
.msg-block .msg_text .from-msg {
  text-align: left;
  background: rgba(128, 125, 125, 0.5);
}
.msg-block .msg_text .to-msg {
  text-align: right;
  background: rgba(128, 174, 204, 0.5);
}

.from-msg_color {
  background: rgba(128, 125, 125, 0.5);
}

.to-msg_color {
  background: rgba(128, 174, 204, 0.5);
}

.showBlock {
  display: none;
}

.close {
  transform: translate(0%, 0%);
  -webkit-animation: close 1s forwards;
          animation: close 1s forwards;
}

@-webkit-keyframes close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.header_tp {
  margin: 0 0 0.5rem 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgba(227, 233, 236, 0.7);
}
.header_tp .name_table {
  font-size: 1.4rem;
  margin-bottom: 0.71rem;
  max-width: 21rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 32px;
}
.header_tp .name_table_input {
  font-size: 1.4rem;
  margin-bottom: 0.71rem;
  width: 100%;
  height: 32px;
}
.header_tp .logout {
  margin: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
}
.header_tp .show {
  display: block;
}
.header_tp .hide {
  display: none;
}
.header_tp button {
  margin: 0 0.5rem;
}

.block_columns {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  overflow-x: auto;
  overflow-y: clip;
  margin: 0 1.2rem;
  min-height: 20vw;
}

.history_overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5333333333);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  display: block;
}
.history_overlay .history_block {
  border-radius: 5px;
  width: 25vw;
  background-color: rgb(226, 226, 226);
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  display: block;
  top: 10%;
  right: 1%;
  z-index: 100;
}
.history_overlay .history_block .h3_history {
  font-size: 1.8rem;
  text-align: center;
}
.history_overlay .history_block .history_list {
  height: 64vh;
  overflow-y: auto;
  margin: 0.2rem;
}
.history_overlay .history_block .history_list p {
  word-wrap: break-word;
  padding: 0.2rem;
}
.history_overlay .history_block .history_list p .date_history,
.history_overlay .history_block .history_list p .time_history,
.history_overlay .history_block .history_list p .change {
  color: #4B5ED7;
}
.history_overlay .history_block .history_list p .change {
  font-weight: bold;
}

.bg_img_block {
  display: none;
  border-radius: 5px;
  width: 25vw;
  background-color: rgb(226, 226, 226);
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  position: fixed;
  text-align: center;
  top: 10%;
  left: 0%;
  z-index: 100;
}
.bg_img_block .h3_bg_img {
  font-size: 1.8rem;
}
.bg_img_block .input_img {
  padding: 0.2rem 0.3rem;
  margin: 0.5rem auto;
  width: 100%;
}
.bg_img_block .bg_image_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0.2rem;
  max-height: 64vh;
}
.bg_img_block .bg_image_list .color, .bg_img_block .bg_image_list .image {
  width: 200px;
  height: 120px;
  background-size: cover;
  border-radius: 10px;
  margin: 0.4rem;
  cursor: pointer;
}
.bg_img_block button {
  margin: 0.5rem;
}

.bg_img_block.active {
  display: inline-block;
}

.column {
  margin: 0 0.6rem;
  border-radius: 5px;
  min-width: 13vw;
  max-width: 13vw;
  background-color: #ccc;
  padding: 1rem 0;
  height: 100%;
  position: relative;
  display: inline-block;
}
.column .title_column_span {
  max-height: 5rem;
  word-break: break-all;
  overflow-y: auto;
  cursor: pointer;
}
.column .title_column_input {
  height: 2rem;
}
.column .column_list {
  min-height: 25px;
  max-height: 60vh;
  overflow-y: auto;
  margin: 0.2rem;
}
.column .column_list p {
  margin: 0.7rem 0.2rem;
  padding: 0.2rem;
  border-radius: 7px;
  background-color: #5FD3B3;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  cursor: move;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
}
.column .add_record {
  color: white;
  border: none;
  font-size: 1rem;
  background: #6f95ff;
  text-align: center;
  padding: 0.4rem;
  margin: 0.5rem 0;
  width: 100%;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  text-transform: lowercase;
}
.column .title_column {
  font-weight: bold;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column .title_column .menu_column {
  box-shadow: none;
  background: transparent;
  border: none;
}
.column .title_column .menu_column:hover {
  transform: scale(1.4);
  transition: transform 0.2s ease-in;
}
.column .pop_menu_column {
  width: 270px;
  border-radius: 5px;
  background-color: rgba(179, 179, 179, 0.9);
  padding: 0.5rem;
  display: none;
  position: absolute;
  z-index: 1;
  left: 0%;
  overflow-y: auto;
}
.column .pop_menu_column .header_pop_menu {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}
.column .pop_menu_column .list_pop_menu {
  padding: 0.3rem 0 0 1rem;
}
.column .pop_menu_column .list_pop_menu li {
  padding: 0.3rem;
  display: block;
}
.column .pop_menu_column .list_pop_menu li:hover {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
.column .input_create {
  width: 100%;
}
.column input[type=checkbox] {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 0;
  opacity: 0;
}
.column input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  margin-top: 0.2rem;
}
.column input[type=checkbox]:checked + label::before {
  background-color: #5FD3B3;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  transition: all 0.2s ease-in;
}
.column input[type=checkbox]:checked ~ .record {
  text-decoration: line-through;
}
.column .show {
  display: block;
}
.column .hide {
  display: none;
}

textarea {
  resize: vertical;
  width: 100%;
  height: 50px;
}

.about_changes {
  font-size: 1.1rem;
  width: auto;
  padding: 1rem;
  color: #ccc;
}

.msg_admin {
  position: absolute;
  background-color: #fff;
  width: 40vw;
  min-height: 40vw;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
  display: grid;
  grid-template-areas: "login login" "dialog dialog" "input  send";
  align-content: space-between;
  align-items: center;
}
.msg_admin .from-msg {
  text-align: left;
  background: rgba(128, 125, 125, 0.5);
}
.msg_admin .msg_text {
  padding: 0.3rem;
  margin: 0.2rem 0;
  border-radius: 6px;
  text-align: left;
}
.msg_admin .msg_login {
  grid-area: login;
  text-align: center;
  margin-bottom: 0.6rem;
  font-weight: bold;
}
.msg_admin hr {
  border-top: 1px dotted rgb(0, 0, 0);
}
.msg_admin span {
  font-size: 0.8em;
  display: block;
  margin: 0.2rem 0;
  padding: 0.15rem;
}
.msg_admin .to-msg {
  text-align: right;
  background: rgba(128, 174, 204, 0.5);
}
.msg_admin .msg_dialog {
  grid-area: dialog;
  height: 30vw;
  overflow-y: auto;
  max-height: 30vw;
}
.msg_admin textarea {
  grid-area: input;
  width: 100%;
  padding: 0.3rem;
  resize: none;
}
.msg_admin .send_msg_btn {
  grid-area: send;
  background: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 0.7rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.msg_admin .send_msg_btn:hover {
  transform: scale(1.4);
  transition: transform 0.2s ease-in;
}
.msg_admin .from-user {
  text-align: left;
  padding: 0.2rem;
}
.msg_admin .from-admin {
  text-align: right;
  padding: 0.2rem;
}

table {
  border: 1px solid #eee;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 1rem;
}

table th {
  font-weight: bold;
  padding: 5px;
  background: #ccc;
  border: 1px solid #dddddd;
}

table td {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: center;
}

tbody:nth-child(odd) {
  background: #3F92D2;
}

tbody:nth-child(even) {
  background: #66A3D2;
}/*# sourceMappingURL=style.css.map */