@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$btn_color: #3498db;
$white: #fff;
$black: #000;
:root {
 
 --body-image: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--body-image);
  min-height: 100vh;
}

button:not(.send_msg_btn) {
  font-family: 'Roboto', sans-serif;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  margin: 0 1.5rem;
  padding: .5rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

button:hover:not(.send_msg_btn) {
  color: #fff;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  background-color: transparent;
}

button:disabled,
button:disabled:hover {
  background: #cccccc;
  cursor: not-allowed;
  box-shadow: none;
}

.header_h1 {
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 3rem;
}

.header_descript {
  font-size: 1.8rem;
  text-align: center;
}

.header_btn {
  text-align: center;
  margin: 3rem 1rem;
}

.form_sp {
  background: $white;
  text-align: center;
  width: 20vw;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);

  .form_in_input {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    text-align: center;
  }

  label {
    font-size: 1.1rem;
    padding: 0.5rem;
    text-align: left;
  }

  input {
    padding: 0.2rem;
    font-size: 1.2rem;
  }

  .sex {
    display: block;
  }

  .form_in_continue {
    color: $black;
    margin-top: 1.3rem;
  }

  .error_password {
    color: red;
    font-size: .8rem;
    padding: 0;
  }
}

//main

.header_mp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .header_text {
    font-size: 2.5rem;
    padding: 1rem;
    font-family: 'Caveat', cursive;
    font-weight: bold;

    .header_text_login {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-size: 1.8rem;
    }
  }

  .profile {
    padding: 1rem;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;

      li {
        margin: .5rem;
        cursor: pointer;
        color: $white;
      }
    }
  }
}

.filter_menu {
  position: fixed;
  background: #0008;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  z-index: 100;

  .profile_setting {
    position: absolute;
    cursor: auto;
    background-color: $white;
    text-align: center;
    width: 20vw;
    margin: 5rem auto;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;

    .error_password {
      color: red;
      font-size: .8rem;
      padding: 0;
    }

    .profile_header_text {
      font-size: 2rem;
      font-family: 'Caveat', cursive;
      font-weight: bold;
    }

    .sex {
      display: block;

      span {
        padding: 0 1.5rem;
        font-size: 1.1rem;
      }

      label {
        padding: 1rem 1rem 1rem .5rem;
      }
    }

    button {
      color: $black;
      margin: 1rem;
    }
  }
}

.form_in_mp {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;

  label {
    font-size: 1.1rem;
    padding: 0.5rem;
    text-align: left;
  }

  input {
    padding: 0.2rem;
    font-size: 1.2rem;
  }
}


.main_mp {
  position: relative;

  .table_block {
    display: flex;
    background: $white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
    height: 26vw;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);

    .table {
      border-radius: 5px;
      margin: 1rem;
      padding: .5rem;
      text-align: center;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
      width: 200px;
      height: 7vw;
      cursor: pointer;
      background-color: #2cabe6;
      color: #fff;

      .name_table {
      //  font-weight: bold;
      padding: .2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 32px;
        background-color: rgba(0, 0, 0, 0.3);
      }

      .date_create,
      .number_records {
        font-size: .8em;
        padding: .2rem;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.3);
      }

      .create_table_block {
        font-size: 2rem;
        font-family: 'Caveat', cursive;
        font-weight: bold;
        margin-top: 1rem;
      }
    }

    .table:hover {
      transform: scale(1.1);
      transition: transform .4s ease-in-out;
    }
  }

  .table_block::-webkit-scrollbar {
    width: 15px;
  }

  .table_block::-webkit-scrollbar-track {
    background-color: rgb(94, 133, 216);
  }

  .table_block::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
  }

  .filter_table {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 3rem auto;
    text-align: center;
    align-items: center;
    color: $white;

    button {
      margin: 1rem;
    }

    .filter_input {
      label {
        padding: 2rem .2rem 2rem 1rem;
        font-weight: 700;
        font-size: 1.3rem;
      }

      span {
        font-weight: 500;
        padding: 0 .5rem;
        font-size: 1.1rem;
      }

      input {
        padding: .6rem .3rem;
        font-size: 1.2rem;
      }
    }
  }

  .filter_tables_text {
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .calc_data {
    position: absolute;
    top: 20%;
    left: 1%;
    text-align: center;

    .avg,
    .percent {
      margin: 1rem 1rem;
      width: 200px;

      .avg_data,
      .percent_data {
        font-weight: bold;
        color: $white;
      }
    }
  }
}



.filter_create {
  position: fixed;
  background: #0008;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: auto;

  .msg {
    position: absolute;
    background-color: $white;
    text-align: center;
    width: 40vw;
    min-height: 40vw;
    margin: 5rem auto;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 100;
    display: grid;
    grid-template-areas:
    "dialog dialog"
    "input  send";
    align-content: space-between;
    align-items: center;

    .msg_dialog {
      grid-area: dialog;
      height: 30vw;
      max-height: 30vw;
      background: #6f95ff;
    }

    textarea {
      grid-area: input;
      width: 100%;
      padding: .3rem;
      resize: none;
    }

    .send_msg_btn {
      grid-area: send;
      background: transparent;
      outline: none;
      border: none;
      padding: 0.7rem;
      margin: 0 0.5rem;
      cursor: pointer;
    }

    .send_msg_btn:hover {
      transform: scale(1.5);
      transition: transform 0.3s ease-in;
    }

    .from-user {
      text-align: left;
      padding: 0.2rem;
    }

    .from-admin {
      text-align: right;
      padding: 0.2rem;
    }
  }

  .create_new_table {
    position: absolute;
    cursor: auto;
    background-color: $white;
    text-align: center;
    width: 40vw;
    margin: 5rem auto;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
    top: 0%;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 100;

    label {
      font-weight: bold;
      font-size: 1.4rem;
      padding: 0 1rem;
    }

    input {
      height: 2rem;
      width: 20rem;
      padding: .2rem;
    }

    button {
      color: $black;
    }
  }
}

// table page

.header_tp {
  margin: 0 0 .5rem 0;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgba(227, 233, 236, 0.7);

  .name_table {
    font-size: 1.4rem;
    margin-bottom: .71rem;
    max-width: 21rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 32px;
  }

  .name_table_input {
    font-size: 1.4rem;
    margin-bottom: .71rem;
    width: 100%;
    height: 32px;
  }

  .logout {
    margin: .5rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    color: $white;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }
}

main {
  .block_columns {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    overflow-x: auto;
    overflow-y: clip;
    margin: 0 1.2rem;
    min-height: 20vw;
  }

  .block_columns::-webkit-scrollbar {
    height: 10px;
  }

  .block_columns::-webkit-scrollbar-track {
    background-color: rgb(94, 133, 216);
    border-radius: 5px;
  }

  .block_columns::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .8);
    border-radius: 5px;
  }

  .history_overlay {
    position: fixed;
    background: #0008;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    display: block;

    .history_block {
      margin: 0 .6rem;
      border-radius: 5px;
      width: 25vw;
      background-color: rgb(226, 226, 226);
      box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
      padding: .5rem;
      height: 35vw;
      position: absolute;
      display: block;
      top: 10%;
      right: 0%;
      z-index: 100;

      .h3_history {
        font-family: 'Caveat', cursive;
        font-size: 1.8rem;
        text-align: center;
      }

      .history_list {
        height: 64vh;
        overflow-y: auto;
        margin: .2rem;

        p {
          word-wrap: break-word;
          padding: .2rem;

          .date_history,
          .time_history,
          .change {
            color: #3152ac;
          }

          .change {
            font-weight: bold;
          }
        }
      }

      .history_list::-webkit-scrollbar {
        width: 8px;
      }

      .history_list::-webkit-scrollbar-track {
        background-color: rgb(94, 133, 216);
        border-radius: 5px;
      }

      .history_list::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, .8);
        border-radius: 5px;
      }
    }
  }

  .bg_img_block {
    display: none;
    margin: 0 .6rem;
    border-radius: 5px;
    width: 25vw;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
    padding: .5rem;
    position: fixed;
    text-align: center;
    top: 13%;
    z-index: 100;

    .h3_bg_img {
      font-family: 'Caveat', cursive;
      font-size: 1.8rem;
      text-align: center;
    }

    .input_img {
      padding: .2rem .3rem;
      margin: .5rem auto;
      width: 100%;
    }

    .bg_image_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow: scroll;
      overflow-y: auto;
      overflow-x: hidden;
      margin: .2rem;
      height: 64vh;

      .color, .image {
        width: 200px;
        height: 120px;
        background-size: cover;
        border-radius: 10px;
        margin: .4rem;
        cursor: pointer;
      }
    }



    .bg_image_list::-webkit-scrollbar {
      width: 8px;
    }

    .bg_image_list::-webkit-scrollbar-track {
      background-color: rgb(94, 133, 216);
      border-radius: 5px;
    }

    .bg_image_list::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, .8);
      border-radius: 5px;
    }
  }

  .bg_img_block.active {
    display: inline-block;
  }
}

.column {
  margin: 0 .6rem;
  border-radius: 5px;
  min-width: 13vw;
  max-width: 13vw;
  background-color: #eaeef1;
  padding: 1rem 0;
  height: 100%;
  position: relative;
  display: inline-block;

  .title_column_span {
    max-height: 5rem;
    word-break: break-all;
    overflow-y: auto;
    cursor: pointer;
  }

  .title_column_span::-webkit-scrollbar {
    width: 8px;
  }
  
  .title_column_span::-webkit-scrollbar-track {
    background-color: rgb(94, 133, 216);
    border-radius: 5px;
  }
  
  .title_column_span::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .8);
    border-radius: 5px;
  }

  .title_column_input {
    height: 2rem;
  }
  .column_list {
    max-height: 60vh;
  overflow-y: auto;
  margin: .2rem;

    p {
      margin: .7rem .2rem;
      padding: .2rem;
      border-radius: 7px;
      background-color: #c5e7e9;
      box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      overflow-wrap: break-word;
    }
  }

  
  .column_list::-webkit-scrollbar {
    width: 8px;
  }
  
  .column_list::-webkit-scrollbar-track {
    background-color: rgb(94, 133, 216);
    border-radius: 5px;
  }
  
  .column_list::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .8);
    border-radius: 5px;
  }

  .add_record {
    color: white;
    border: none;
    font-size: 1rem;
    background: #6f95ff;
    text-align: center;
    padding: .4rem;
    margin: .5rem 0;
    width: 80%;
    box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    text-transform: lowercase;
  }

  .title_column {
    font-weight: bold;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pop_menu_column {
    width: 270px;
    border-radius: 5px;
    background-color: rgba(179, 179, 179, .9);
    padding: .5rem;
    display: none;
    position: absolute;
    z-index: 1;
    left: 0%;

    .header_pop_menu {
      display: flex;
      justify-content: space-between;
      padding: .4rem;
    }

    .list_pop_menu {
      padding: .3rem 0 0 1rem;

      li {
        padding: .3rem;
        display: block;
      }

      li:hover {
        background-color: white;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .input_create {
    width: 100%;
  }

  input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    z-index: 0;
    opacity: 0;
  }
  
  input[type="checkbox"]+label::before {
    content: '';
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #ffffff;
    background-color: white;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  input[type="checkbox"]:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    transition: all .3s ease-in;
  }
  
  input[type="checkbox"]:checked~.record {
    text-decoration: line-through;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }
}

.menu_column {
  border: none;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  margin: 0 !important;
  padding-top: .9rem;
}

.menu_column:hover {
  box-shadow: none;
}


textarea {
  resize: vertical;
  width: 100%;
  height: 100px;
}

.about_changes {
  font-size: 1.1rem;
  width: 40%;
  padding: 1rem;
  color: #ccc;
}