@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header_h1 {
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 3rem;
}

.header_descript {
  font-size: 1.8rem;
  text-align: center;
}

.header_btn {
  text-align: center;
  margin: 3rem 1rem;
}

.header_btn_register,
.header_btn_log,
.form_in_continue {
  font-family: 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  background: linear-gradient(90deg, rgba(75,65,255,1) 0%, rgba(9,9,121,1) 100%);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  margin: 0 3rem;
}

.header_btn_register:hover,
.header_btn_log:hover,
.form_in_continue:hover {
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.35);
}

.form_in {
  text-align: center;
  width: 20vw;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
}

.form_in_input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
}

.form_in_input label {
  font-size: 1.1rem;
  padding: 0.5rem;
  text-align: left;
}

.form_in_input input {
  padding: 0.2rem;
  font-size: 1.2rem;
}

.sex p {
  padding: 1.5rem;
  font-size: 1.1rem;
}

.sex label {
  padding: 1rem 1rem 1rem 0;
}

.form_in_continue {
  margin-top: 1.3rem;
}

input[type="radio"] {
  margin: 1rem 0 1rem 1rem;
}