@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: relative; */
}

.header_text {
  font-size: 1.5rem;
  padding: 1rem;
}

.profile {
  padding: 1rem;
}

.profile ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.profile ul li {
  margin: .5rem;
}

.filter_menu {
  position: fixed;
  background: #0008;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  display: none;
}

.filter_create {
  position: fixed;
  background: #0008;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  display: none;
}

.profile_setting {
  position: absolute;
  display: none;
  background-color: white;
  text-align: center;
  width: 20vw;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  top: 0%;
  left: 50%;
  transform:translate(-50%, 0);
  z-index: 100;
}

.create_new_table {
  position: absolute;
  display: none;
  background-color: white;
  text-align: center;
  width: 40vw;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  top: 0%;
  left: 50%;
  transform:translate(-50%, 100%);
  z-index: 100;
}

.profile_header_text {
  font-size: 2rem;
  font-family: 'Caveat', cursive;
  font-weight: bold;
}

.form_in_input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
}

.form_in_input label {
  font-size: 1.1rem;
  padding: 0.5rem;
  text-align: left;
}

.form_in_input input {
  padding: 0.2rem;
  font-size: 1.2rem;
}

.sex p {
  padding: 1.5rem;
  font-size: 1.1rem;
}

.sex label {
  padding: 1rem 1rem 1rem 0;
}

.form_in_continue {
  margin-top: 1.3rem;
}

input[type="radio"] {
  margin: 1rem 0 1rem 1rem;
}

.change_profile, .close_profile, .create_tbl_btn {
  font-family: 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  background: linear-gradient(90deg, rgba(75,65,255,1) 0%, rgba(9,9,121,1) 100%);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.change_profile:hover,
.close_profile:hover {
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.35);
}

.table_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
  margin: 0 auto;
  height: 26vw;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
}

.table_block::-webkit-scrollbar {
  width: 15px;
}

.table_block::-webkit-scrollbar-track {
  background-color: rgb(94, 133, 216);
}

.table_block::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

.table {
  border-radius: 5px;
  margin: 1rem;
  padding: .5rem;
  text-align: center;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  width: 7vw;
  height: 7vw;
  cursor: pointer;
  background-color: rgb(198, 247, 253);
}

.table:not(.create_new_table):hover {
  transform: scale(1.1);
  transition: transform .4s ease-in-out;
}

.name_table {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date_create,
.number_records {
  font-size: small;
  padding: .5rem 0;
  text-align: left;
}

.create_table_block {
  font-size: 2rem;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  margin-top: 1rem;
}

.create_new_table label {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0 1rem;
}

.create_new_table input {
  height: 2rem;
  width: 20rem;
  padding: .2rem;
}